# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# VSCode
.vscode/settings.json

# Common
*target/
*.versionsBackup
*.saucer/

# Misc
.DS_Store
__MACOSX
examples/src/main/java/com/example/saucer4j/Test.java
examples/src/main/resources/Test.html
saucer-bindings.dll
