# IntelliJ
*.iml
.idea/

# Eclipse
.settings/
.project
.classpath

# VSCode
.vscode/settings.json

# Common
*target/

# Misc
.DS_Store
__MACOSX
*.versionsBackup
.saucer/
saucer-bindings.dll
saucer-bindings.pdb
saucer-bindings.exp
saucer-bindings.lib
